.bgimg{
	background-image:url(../image/5.png);
	width: 100%;
	height: 655px;
	background-size: 100% 100%;
	background-attachment: fixed;
}
.headerset{
	padding-top: 250px;
	box-sizing: border-box;
}
.headerset h2{
	font-size: 42px;
}
.headerset h1{
	font-size: 72px;
	font-weight: bold;
}
/*.mynav{
	position: fixed;
	width: 100%;
}*/
a.nav-link.text-white.mya {
    padding-left: 40px;
}

/*.....................our services.............*/

.ourservices{
	padding:100px 0px 60px;
	height: 700px;
}
.ourservices h1{
	font-size: 50px;
	font-weight: bold;
}
.rowsetting{
	margin: 85px 0px;
}
.imgsetting{
	border-radius: 50%;
	width: 100px;
	height: 100px;
}
.myicon{
	margin-top: 24px;
}
.row.rowsetting p {
    color: #9e9898;
    padding: 10px;
}
.row.rowsetting h2{
	margin-top: 20px;
	font-size: 30px;
	font-weight: bold;
}
.mycontainer h1{
    padding-top: 60px;
}
section.portfolio.bg-light {
    padding-bottom: 60px;
}
.myrow{
	margin: 85px 0px;
}

.ourteam{
	height: 700px;
	padding: 100px 0px 60px;
	width: 100%;
}
.rowdesign{
	margin-top: 70px;
}
.mycont h1{
	font-size: 50px ;
	font-weight: bold;

}
footer{
	height: 70px;
}
@media screen(min-width: 992px){

}
@media screen and (min-width: 768px) and (max-width: 991px){

}
@media screen and(min-width: 575px) and (max-width: 767px){
	
}
@media screen and(min-width: 480px) and (max-width: 574px){
	
}
@media screen (max-width: 479px){
	.headerset h2{
	font-size: 10px;
    }
    .headerset h1{
	font-size: 32px;
	font-weight: bold;
    }


    .ourservices{
	
	height: 1500px;
	}
}